{% extends "base.html.jinja" %}
{% block content %}
    <style>
        table, th, td {
            border: 1px solid black;
            
        }
    </style>
    {{ markdown  }}
{% endblock content %}